bcrypt
blinker
cachelib
click
colorama
dnspython
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Session
gunicorn
itsdangerous
Jinja2
MarkupSafe
msgspec
packaging
PyJWT
pymongo
python-dotenv
redis
Werkzeug
